title: "Luminose - Parcours Reliance"
description: "Thérapie et Hypnose Transpersonnelle pour expatriés francophones."
url: "https://reliance.luminose.fr"
baseurl: "" 
lang: fr
email: florent@luminose.fr

# Build settings
markdown: kramdown

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap

defaults:
  - scope:
      path: ""
    values:
      layout: "default"

exclude:
  - node_modules
  - vendor