<div id="md-cookies" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon is-large mr-3">
                    <span style="font-size: 2rem;">🍪</span>
                </span>
                Cookies et vie privée
            </p>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <p>Ce site utilise des cookies pour vous proposer une meilleure expérience (contenus, fonctionnalités, etc.).</p>
                <p>Vous êtes libres d'accepter ou de refuser l'utilisation des cookies. Vous pourrez modifier votre choix à tout moment.</p>
            </div>
        </section>
        <footer class="modal-card-foot is-justify-content-center">
            <button id="bt-cookies-reject" class="button">Tout refuser</button>
            <button id="bt-cookies-accept" class="button is-primary">Tout accepter</button>
        </footer>
    </div>
</div>