<!-- Footer -->
    <footer class="footer has-background-black-bis has-text-white mt-6 pt-6 pb-6">
        <div class="container">
            <div class="columns">
                <div class="column is-5">
                    <h3 class="title is-4 has-text-white font-serif">Reliance<span class="has-text-primary">.</span></h3>
                    <p class="has-text-grey is-size-6">
                        Un accompagnement créé par <a href="https://www.luminose.fr" target="_blank">Luminose</a>.<br>
                        Reconnecter structure et spiritualité pour les expatriés.
                    </p>
                </div>
                <div class="column is-offset-1 is-3">
                    <h4 class="title is-7 is-uppercase has-text-primary ls-2 mb-4">Parcours</h4>
                    <ul>
                        <li><a href="#agitation" class="has-text-grey-light">Le Problème</a></li>
                        <li><a href="#solution" class="has-text-grey-light">La Solution</a></li>
                        <li><a href="#offre" class="has-text-grey-light">L'Offre</a></li>
                    </ul>
                </div>
                <div class="column is-3">
                    <h4 class="title is-7 is-uppercase has-text-primary ls-2 mb-4">Contact</h4>
                    <p class="is-size-7 has-text-grey mb-2">{{ site.email }}</p>
                    <a href="https://www.luminose.fr" target="_blank" class="button is-small is-outlined is-white is-rounded">
                        <span class="icon"><i class="fas fa-external-link-alt"></i></span>
                        <span>Site Luminose</span>
                    </a>
                </div>
            </div>
            <hr class="has-background-grey-darker my-5">
            <div class="content has-text-centered is-size-7 has-text-grey">
                <p><a id="bt-cookies-update" href="#">Cookies et vie privée</a></p>
                <p>&copy; {{ site.time | date: '%Y' }} Luminose. Tous droits réservés.</p>
            </div>
        </div>
    </footer>