<!-- Navigation -->
    <nav class="navbar is-fixed-top is-glass" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <!-- Logo Texte -->
                <a class="navbar-item font-serif is-size-4 has-text-weight-medium" href="{{ site.baseurl }}/" style="letter-spacing: -0.02em;">
                    Reliance<span class="has-text-primary">.</span>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a href="#agitation" class="navbar-item has-text-grey-dark">Le Constat</a>
                    <a href="#programme" class="navbar-item has-text-grey-dark">Le Chemin</a>
                    <a href="#bio" class="navbar-item has-text-grey-dark">Le Guide</a>
                    <a href="#faq" class="navbar-item has-text-grey-dark">FAQ</a>
                    <div class="navbar-item">
                        <a href="#contact" class="button is-primary is-rounded is-small shadow-primary">
                            <strong>Entretien de clarté</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>