/* Fonts */
/* This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: https://www.linotype.com */
@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=7d5eecea-6a78-405f-9101-8527f4dd7b18&fontids=5313918");
@font-face{
    font-family:"Abril Display W05 Italic";
    src:url("/assets/fonts/5197317/0a5d5485-b415-4692-bc4d-bf1f30dcf946.eot?#iefix");
    src:url("/assets/fonts/5197317/0a5d5485-b415-4692-bc4d-bf1f30dcf946.eot?#iefix") format("eot"),
        url("/assets/fonts/5197317/e95ab4d7-0b64-43c7-88ec-c70de2273848.woff2") format("woff2"),
        url("/assets/fonts/5197317/65d70e48-ef4e-48c6-90b9-3cb9f247dcfd.woff") format("woff"),
        url("/assets/fonts/5197317/6be7e520-0945-476a-8ac2-10c029effcfe.ttf") format("truetype");
}
@font-face{
    font-family:"Futura LT W05 Book";
    src:url("/assets/fonts/5313918/a411c21e-f439-48c1-bddb-887ec08b5224.eot?#iefix");
    src:url("/assets/fonts/5313918/a411c21e-f439-48c1-bddb-887ec08b5224.eot?#iefix") format("eot"),
        url("/assets/fonts/5313918/7a337894-f253-4a5d-a63e-0d8275cedec5.woff2") format("woff2"),
        url("/assets/fonts/5313918/55e6a203-1f50-4971-89d0-17ca0150f29d.woff") format("woff"),
        url("/assets/fonts/5313918/feaf9b77-0958-45fa-96c3-1afc445987ef.ttf") format("truetype");
}
@font-face{
    font-family:"P Heavy";
    src:url("/assets/fonts/ext/ext1.eot?#iefix");
    src:url("/assets/fonts/ext/ext1.eot?#iefix") format("eot"),
        url("/assets/fonts/ext/ext1.woff2") format("woff2"),
        url("/assets/fonts/ext/ext1.woff") format("woff"),
        url("/assets/fonts/ext/ext1.ttf") format("truetype");
}
@font-face{
    font-family:"P Medium";
    src:url("/assets/fonts/ext/ext2.eot?#iefix");
    src:url("/assets/fonts/ext/ext2.eot?#iefix") format("eot"),
        url("/assets/fonts/ext/ext2.woff2") format("woff2"),
        url("/assets/fonts/ext/ext2.woff") format("woff"),
        url("/assets/fonts/ext/ext2.ttf") format("truetype");
}
